.title {
  margin-bottom: 20px;
}

.card {
  width: 520px;
  padding: 30px;
  position: relative;
  border: 2px solid palegreen;
  border-radius: 20px;
}

.card__group {
  margin-bottom: 15px;
}

.message__email {
  margin-bottom: 40px;
}

.card__btn {
  margin: 0 auto;
}


.card__chipset{
  position: absolute;
  top:15px;
  right: 50px;
  
}